.card-reserve{
    border: 3px solid rgb(168, 177, 205);
    box-shadow: 5px 5px 10px rgb(168, 177, 205);
    border-radius: 7px;
    background-color: bisque;

}
.text-car{
    color: rgb(168, 177, 205);
    font-weight: bolder;
}
.reserve-image{
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(168, 177, 205);
}