.card-reserve{
    border: 3px solid rgb(168, 177, 205);
    box-shadow: 5px 5px 10px rgb(168, 177, 205);
    border-radius: 7px;
    background-color: black;

}
.text-car{
    color:orange;
    font-weight: bolder;
}
.reserve-image{
    
    box-shadow: 5px 5px 5px rgb(168, 177, 205);
}