.card-bg{
    box-shadow:7px 7px 10px rgb(168, 177, 190);
    border-radius:10px;
     background-color:white; 
      border: 3px solid rgb(168, 177, 190); 
}
h4{
    font-family: poppins;
    font-weight: bolder;
}
.menu-heading{
    margin-bottom: 75px;
}